.full-screen-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(15, 0, 0, 0.804);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 1s;
}

.full-screen-image img {
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;
    transition: 1s;
}